h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.carousel {
  margin-top: 50%;
}

a {
  color: white;
  text-decoration: none;
}

a:active {
  color: gray;
}

.photo {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.accordion-header, .accordion-button, 
.accordion-button:not(.collapsed) {
  background-color: #719973;
  color: black;
}

:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.accordion-button:after {
  background-image: url(
    "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>"
    ) !important;
}

.search {
  position: relative;
}

.searchResults {
  position: absolute;
}

.searchResults a {
  color: black;
}
