h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #719973;
  text-align: right;
  margin-right: 10px;
}

.carousel {
  margin-top: 50px;
}

.carousel-indicators {
  display: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: gray;
  border-radius: 50%;
}

a {
  color: #719973;
  text-decoration: none;
}

a:active {
  color: gray;
}

.photo {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.accordion-header, .accordion-button, 
.accordion-button:not(.collapsed) {
  background-color: #719973;
  color: black;
}

.accordion-header {
  border-radius: 10px;
}

:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.accordion-button:after {
  background-image: url(
    "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>"
    ) !important;
}

.instructions {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.check {
  margin-top: 6px;
}

.search {
  position: relative;
}

.searchResults {
  position: absolute;
}

.searchResults a {
  color: black;
}

.double {
  width: 70px;
  height: 20px;
  border-radius: 10px;
}

@media (min-width: 451px) and (max-width: 900px) {
  .accordionParent {
    position: fixed;
    top: 490px;
    width: 100%;
  }

  .photo {
    position: fixed;
    top: 90px;
    max-width: 500px;
    left: 0px;
  }

  .carousel {
    width: 500px;
    margin-top: 220px;
  }

  .carousel-indicators {
    top: 150px;
  }
}

@media (min-width: 901px) and (max-width: 9999px) {
  .imageParent {
    display: flex;
  }

  .photo {
    max-width: 500px;
    justify-content: flex-start;
  }

  .accordionParent {
    display: flex;
  }

  .accordion {
    width: calc(100% - 500px);
    margin-top: -400px;
    margin-left: 500px;
  }

  .carousel {
    width: 500px;
  }
}
